
<form method="post" action="/login" accept-charset="UTF-8">

  <label for="email">Username or email</label>
  <input id="email" type="text" name="email">
  <br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password">
  <br>
  <input type="submit" value="Login">
</form>